@use '../../scss/variables' as *;

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 51px);
  height: calc(100dvh - 51px);

  &Container {
    display: block;
    text-align: center;
  }

  &Title {
    font-size: 96px;
    font-weight: 300;
  }

  &Subtitle {
    font-size: 24px;
    font-weight: 300;
  }

  &Icon {
    font-size: 48px;
  }

  &Link {
    color: $clr-light;
  }
}