@use '../../scss/variables' as *;

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $clr-black;
  padding: 2rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: $clr-gray;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  &__avatar {
    min-width: 200px;
    max-width: 300px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: contain;
    overflow: hidden;
    margin: 0 1rem;

    &>img {
      translate: 0 -10%;
    }
  }

  &__description {
    font-size: 1rem;
    line-height: 160%;
    max-width: 65ch;

    &>h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}